@font-face {
    font-family: 'AppleSDGothicNeo';
    font-weight: 100;
    src: url('../font/AppleSDGothicNeoT.ttf') format("truetype");
}

@font-face {
    font-family: 'AppleSDGothicNeo';
    font-weight: 200;
    src: url("../font/AppleSDGothicNeoUL.ttf") format("truetype");
}

@font-face {
    font-family: 'AppleSDGothicNeo';
    font-weight: 300;
    src: url("../font/AppleSDGothicNeoL.ttf") format("truetype");
}

@font-face {
    font-family: 'AppleSDGothicNeo';
    font-weight: 400;
    src: url("../font/AppleSDGothicNeoR.ttf") format("truetype");
}

@font-face {
    font-family: 'AppleSDGothicNeo';
    font-weight: 500;
    src: url("../font/AppleSDGothicNeoM.ttf") format("truetype");
}

@font-face {
    font-family: 'AppleSDGothicNeo';
    font-weight: 600;
    src: url("../font/AppleSDGothicNeoSB.ttf") format("truetype");
}

@font-face {
    font-family: 'AppleSDGothicNeo';
    font-weight: 700;
    src: url("../font/AppleSDGothicNeoB.ttf") format("truetype");
}

@font-face {
    font-family: 'AppleSDGothicNeo';
    font-weight: 800;
    src: url("../font/AppleSDGothicNeoEB.ttf") format("truetype");
}

@font-face {
    font-family: 'AppleSDGothicNeo';
    font-weight: 900;
    src: url("../font/AppleSDGothicNeoH.ttf") format("truetype");
}